In [1]:
mygenerator = (x*x for x in range(3))

In [2]:
for i in mygenerator:
    print(i)

0
1
4

In [3]:
for i in mygenerator:
    print(i)

In [4]:
train =[1, 2, 3]
for value in train:
    x = value*value
    print(x)

1
4
9

In [20]:
class Employee: 
    'Common base class for all employees' 
    empCount = 0 
    
    def __init__(self, name, salary, age): 
        self.name = name 
        self.salary = salary 
        self.age = age
        Employee.empCount += 1 
    def displayCount(self): 
        print( "Total Employee %d" % Employee.empCount )
    def displayEmployee(self): 
        print( "Name : ", self.name, ", Salary: ", self.salary, ", Age:", self.age)

In [7]:
emp1 = Employee("Zara", 2000)

In [10]:
emp1.displayCount()

Total Employee 1

In [12]:
emp1.displayEmployee()

Name :  Zara , Salary:  2000

In [13]:
print("Total Employee %d" % Employee.empCount)

Total Employee 1

In [14]:
Employee.empCount

1

In [22]:
emp2 = Employee("Manni", 5000, 16)
emp2.displayEmployee()

Name :  Manni , Salary:  5000 , Age: 16

In [30]:
emp1 = Employee("Zara", 2000, 17)

In [35]:
emp1.age = 100

In [36]:
emp1.displayEmployee()

Name :  Zara , Salary:  100 , Age: 100

In [40]:
getattr(emp1, 'age')

100

In [43]:
Employee.__dict__

mappingproxy({'__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__doc__': 'Common base class for all employees',
              '__init__': <function __main__.Employee.__init__>,
              '__module__': '__main__',
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              'displayCount': <function __main__.Employee.displayCount>,
              'displayEmployee': <function __main__.Employee.displayEmployee>,
              'empCount': 2})